body {
  background-color: aliceblue;
  color: #222;
}
.card {
  width: 280px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
h1 {
  text-align: center;
}

.dish {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h2 {
  text-align: center;
  font-weight: bold;
  color: black;
}
.card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.card button:hover {
  background-color: #555;
}

.card button:active {
  transform: scale(0.97);
}
.OrderForm {
  display: flex;
  justify-content: center;
  font-size: large;
  gap: 2px;
}
.OrderForm button {
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
}
